* {
    box-sizing: border-box;
    
  }
  body{
      margin: 0px;
      padding:0px;
      font-family: poppins;
  }
  #main{
      width: 100%;
      height: 50vh;
      position: relative;
  }
  nav{
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: fixed;
      top:0;
      left: 0;
      width:100%;
      background-color: white;
      box-shadow: 5px 10px 50px rgba(0,0,0,0.02);
      z-index:1;
  }
 .logo img{
     height: 80px;
 }

 .menu{
     list-style: none;
     display: flex;
     
 }
 .menu li a{
     height: 40px;
     line-height: 43px;
     margin:3px;
     padding: 0px 22px;
     display: flex;
     font-size: 0.8em;
     text-transform: uppercase;
     font-weight: 500;
     letter-spacing: 1px;
     color: grey;
    
 }
 .hey{
     color: #39dfbd;
     font-weight: 500;
     font-size:0.9em;
     border-bottom: 2px solid #39dfbd;
 }
 a{
    text-decoration: none;
 }
 .image{
     width: 500px;
     height: 500px;

 }
 .image img{
     width: 100%;
     height:100%;
     object-fit: contain;

 }
 .content{
     display: flex;
     width:90%;
     justify-content: space-around;
     align-items: center;
     position: absolute;
     left:50%;
     right:50%;
     transform: translate(-50%,-50%);
 }
 .main-text{
     width:500px;
 }
 .main-text h1{
     font-size: 3.5em;
     color: rgb(6, 52, 95);
     margin: 0px,0px,10px,0px;
     line-height: 60px;
 }
 .resume{
     width: 190px;
     height: 40px;
     display:flex;
     justify-content: center;
     align-items: center;
     color: white;
     background-color: #1db096;
     border-radius: 20px;
     box-shadow: 5px 20px 20px rgba(0,0,0,0.2);

 }
 .resume:hover{
     background-color: #0effd3;
     transition: all ease 0.2;
 }
.menu li a:hover{
    background-color: #0effd3;
    color: black;
    box-shadow: 5px 20px 20px rgba(0,0,0,0.2);
    transition: all ease 0.2;
}